// Custom styles.
.links-of-author-item a {
    max-width: 216px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0px 23px;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
